## Преобразование из двоичной в десятичную с/с

### $A_{10} = 6$  
### $A_{2} = 0110$  
### $A_{10} = a_3\cdot p^3 + a_2\cdot p^2 + a_1\cdot p^1 + a_0\cdot p^0,\,где\,p\,-\,основание\,с/с$   
### $A_{10} = 0\cdot2^3 + 1\cdot2^2 + 1\cdot2^1 + 0\cdot2^0 = 0 + 4 + 2 + 0 = 6$

In [2]:
def binary_to_decimal(binary):
    """
    This function converts binary number into decimal.
    Arguments:
    binary - int or str object.
    Output:
    int object.
    """
    binary = str(binary)
    size = len(binary)
    i = 0
    a_10 = 0
    for bit in binary:
        i += 1
        a_10 += int(bit)*(2**(size-i))
    return str(a_10)

In [3]:
print(binary_to_decimal("0111"))

7

# Преобразование из десятичной в двоичную с/с

![Нет соединения](http://images.myshared.ru/4/72549/slide_1.jpg)
### $A_{10} = 6$
6/2 = 3(ост 0)
3/2 = 1(ост 1)
110

In [49]:
def rewerse(word):
    size = len(word)
    i = 1
    drow = ""
    while i <= size:
        drow = drow + word[size-i]
        i = i + 1
    return drow


def decimal_to_binary(decimal):
    size = len(decimal)
    decimal = int(decimal)
    s = ""
    i = 0
    while i <= 7:
        s = s + str((decimal%2))
        decimal = decimal//2
        i = i + 1
    return rewerse(s)

In [50]:
i = 0
str1 = ""
while i <= 20:
    str1 = str(i)
    print(decimal_to_binary(str1), i)
    i = i + 1

00000000 0
00000001 1
00000010 2
00000011 3
00000100 4
00000101 5
00000110 6
00000111 7
00001000 8
00001001 9
00001010 10
00001011 11
00001100 12
00001101 13
00001110 14
00001111 15
00010000 16
00010001 17
00010010 18
00010011 19
00010100 20

In [6]:
decimal_to_binary(binary_to_decimal("111100"))

'111100'

## Преобразование из десятичной в восьмиричную

In [7]:
def decimal_to_octal(decimal):
    size = len(decimal)
    decimal = int(decimal)
    s = ""
    i = 0
    while i <= 5:
        s = s + str((decimal%8))
        decimal = decimal//8
        i = i + 1
    return rewerse(s)

In [12]:
decimal_to_octal("12")

'000014'

## Преобразование из десятичной в шестнадцатеричную

In [16]:
def decimal_to_hexadecima(decimal):
    size = len(decimal)
    decimal = int(decimal)
    s = ""
    i = 0
    while i <= 5:
        num = decimal%16
        if num == 10:
            s = s + "A"
        elif num == 11:
            s = s + "B"
        elif num == 12:
            s = s + "C"
        elif num == 13:
            s = s + "D"
        elif num == 14:
            s = s + "E"
        elif num == 15:
            s = s + "F"
        elif num:
            s = s + str(num)
        decimal = decimal//16
        i = i + 1
    return rewerse(s)

In [21]:
decimal_to_hexadecima("123")

'7B'

In [34]:
max_r(8)

3